<input
        type="number"
        [(ngModel)]="amount"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500 placeholder-gray-400 placeholder-italic dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        placeholder="Ex: 500000"
/>

<textarea
        [(ngModel)]="reason"
        rows="4"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500 placeholder-gray-400 placeholder-italic dark:bg-gray-700 dark:border-gray-600 dark:text-white"
        placeholder="Describe the issue found during inspection..."
></textarea>