<div class="grid grid-cols-12 gap-4 md:gap-6">
    <!-- ✅ If no package exists -->
    <div *ngIf="!isLoading && !subscription" class="col-span-12">
        <div
                class="flex flex-col items-center justify-center rounded-2xl border border-gray-200 bg-white py-16 dark:border-gray-800 dark:bg-white/[0.03] text-center"
        >
            <img
                    src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png"
                    alt="empty"
                    class="w-24 h-24 mb-4 opacity-90"
            />
            <h3 class="text-lg font-semibold text-gray-700 mb-2">
                You do not have any maintenance package
            </h3>
            <p class="text-gray-500 mb-6">
                Subscribe to a maintenance package to receive benefits and track your services.
            </p>
            <button
                    class="px-6 py-3 rounded-xl text-white font-medium shadow-md bg-brand-500 hover:bg-brand-600 transition"
                    (click)="renew()"
            >
                Subscribe to a Service Package
            </button>
        </div>
    </div>

    <!-- If package exists -->
    <div *ngIf="subscription" class="col-span-12">
        <div class="col-span-12 xl:col-span-7">
            <div
                    class="overflow-hidden rounded-2xl border border-gray-200 bg-white px-4 pb-3 pt-4 dark:border-gray-800 dark:bg-white/[0.03] sm:px-6"
            >
                <div class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between">
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
                            Maintenance package information
                        </h3>
                    </div>
                </div>

                <div class="max-w-full overflow-x-auto">
                    <table class="w-full text-left">
                        <thead class="border-y border-gray-100 dark:border-gray-800">
                        <tr>
                            <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Start date</th>
                            <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">End date</th>
                            <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Payment date</th>
                            <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Status</th>
                            <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-center">
                                Registration / Renewal
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
                        <tr>
                            <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
                                {{ subscription?.startDate | date: 'dd-MM-yyyy' }}
                            </td>
                            <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
                                {{ subscription?.endDate | date: 'dd-MM-yyyy' }}
                            </td>
                            <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
                                {{ subscription?.paymentDate | date: 'dd-MM-yyyy' }}
                            </td>
                            <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
                                <app-badge
                                        size="sm"
                                        [color]="getSubscriptionStatusBadgeColor(subscription?.endDate)"
                                >
                                    {{ getSubscriptionStatus(subscription?.endDate) }}
                                </app-badge>
                            </td>
                            <td class="py-3 text-center">
                                <button
                                        (click)="renew()"
                                        type="button"
                                        class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-brand-500 hover:text-white transition"
                                >
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="w-4 h-4"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            viewBox="0 0 24 24"
                                    >
                                        <polyline points="23 4 23 10 17 10"></polyline>
                                        <polyline points="1 20 1 14 7 14"></polyline>
                                        <path d="M3.51 9a9 9 0 0 1 14.13-3.36L23 10"></path>
                                        <path d="M20.49 15a9 9 0 0 1-14.13 3.36L1 14"></path>
                                    </svg>
                                    {{ getRenewButtonLabel(subscription?.endDate) }}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment history -->
    <div class="col-span-12">
        <div class="col-span-12 xl:col-span-7">
            <div
                    class="rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]"
            >
                <div class="flex flex-col gap-2 px-5 mb-4 sm:flex-row sm:items-center sm:justify-between sm:px-6">
                    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">Payment history</h3>
                </div>

                <div class="overflow-hidden">
                    <div class="max-w-full px-5 overflow-x-auto sm:px-6">
                        <table class="min-w-full">
                            <thead class="border-gray-100 border-y dark:border-white/[0.05]">
                            <tr>
                                <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Date</th>
                                <th class="py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Payment method</th>
                                <th class="px-4 py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Status</th>
                                <th class="px-4 py-3 font-normal text-gray-500 text-start text-theme-sm dark:text-gray-400">Year number</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
                            <tr *ngFor="let item of paymentHistory">
                                <td class="px-4 py-4 text-gray-700 whitespace-nowrap text-theme-sm dark:text-gray-400">
                                    {{ item.paymentDate | date: 'dd-MM-yyyy' }}
                                </td>
                                <td class="px-4 py-4 text-gray-700 whitespace-nowrap text-theme-sm dark:text-gray-400">
                                    {{ item.paymentMethod }}
                                </td>
                                <td class="px-4 py-4 text-gray-700 text-theme-sm dark:text-gray-400">
                                    <app-badge size="sm" [color]="getPaymentStatusBadge(item.paymentStatus)">
                                        {{ item.paymentStatus }}
                                    </app-badge>
                                </td>
                                <td class="px-4 py-4 text-gray-700 whitespace-nowrap text-theme-sm dark:text-gray-400">
                                    {{ item.numOfYears }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>